* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: red;
}

.header__button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: inherit;
}

main {
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

.menu-open {
    width: 100px;
}

.menu-close {
    width: 0;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1200px) {
    .header__button {
        display: none;
    }
}
